<%= form_for @booking, url: bookings_path, method: :post, :html => { :multipart => true } do |f| %>
  <%= f.hidden_field :room_id, :value => @room.id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="form-group">
    <%= f.date_field('start_date', :start => Time.now ) %>
  </div>
  <div class='form-group'>
    <%= f.date_field('end_date', default: 3.days.from_now ) %>
  </div>
  <%= f.submit(:class => "btn btn-primary") %>
<% end %>
