<%= form_tag rooms_path, :method => 'get' do %>
  <p>
    <div class="form-group">
      <%= text_field_tag :location %>
    </div>
    <div class="form-group">
      <%= date_field_tag :start_date %>
    </div>
    <div class="form-group">
      <%= date_field_tag :end_date %>
    </div>


    <%= submit_tag "Search", :name => nil, class: "btn btn-primary btn-xs" %>
  </p>
<% end %>
