<%= content_for :title, "All the Rooms" %>

<h1>Rooms</h1>

<%= render "search" %>
<% if params[:location] || params[:start_date] %>
  <h4>Search Results</h4>
  <% if @available_rooms.count == 0 %>
    <p>No rooms available in during those dates</p>
  <% end %>
<% end %>

<% @available_rooms.each do |room| %>
  <p><%= link_to room.location, room_path(room) %></p>
  <p><%= "$" + sprintf('%.2f', room.price) %></p>
  <% if room.pictures.count > 0 %>
    <p><%= image_tag room.pictures.first.image.url(:thumb) %></p>
  <% end %>
<% end %>

<%= link_to "Add a New Room for Rent", new_room_path %>



