<%= content_for :title, @room.location %>

<h1><%= @room.location %></h1>
<h4><%= @room.price %></h4>

<% if current_user == @room.user %>
  <%= link_to "Add Pictures", new_room_picture_path(@room) %>
<% end %>

<% @room.pictures.each do |picture| %>
  <p><%= image_tag picture.image.url(:medium) %></p>
  <p><%= picture.caption %></p>
<% end %>

<% if current_user != @room.user %>
  <%= link_to "Book this Place", bookings_path(user_id: current_user.id, room_id: @room.id), method: :post%>
<% end %>

<% if Booking.room_booked_by_user(@room, current_user) %>
  <% #TODO method works, now add form to rate... the below doesn't work! %>
  <%= link_to "Rate this place", ratings_path(user_id: current_user.id, room_id: @room.id), method: :post%>
<% end %>
